@import '../sass/variables.scss';
@import '../sass/mixin.scss';

.container {
    @include flex(column, space-between, normal);
    width: 90%;
    min-height: 90vh;
    @media screen and (max-width: 1200px) {
        width: 100%;
    }
    @media screen and (max-width: 1800px) {
        margin-bottom: 10vh;
    }
    .titleContainer {
        @include flex(row, center, center);
        @include size(100%, 12%);
        position: relative;
        z-index: 0;
        @media screen and (max-width: 1500px) {
            height: auto;
        }
        @media screen and (max-width: 500px) {
            height: 100px;
        }
        .dotContainer_left {
            width: 15%;
            position: absolute;
            display: flex;
            justify-content: center;
            top: 5vh;
            left: 10px;
            .leftDot {
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: $accentColor;
                box-shadow: 0 0 10px $accentColor, 0 0 30px $accentColor;
                animation: dotAnimation 2.5s linear infinite;
                @keyframes dotAnimation {
                    0% {
                        margin-right: 170px;
                        opacity: 1;
                    }
                    50% {
                        margin-right: 0;
                        opacity: 0;
                    }
                    100% {
                        margin-right: 170px;
                        opacity: 1;
                    }
                }
            }
        }
        .dotContainer_right {
            width: 15%;
            position: absolute;
            display: flex;
            justify-content: center;
            top: 5vh;
            right: 10px;
            .rightDot {
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: $accentColor;
                box-shadow: 0 0 10px $accentColor, 0 0 30px $accentColor;
                animation: dotAnimation2 2.5s linear infinite;
                @keyframes dotAnimation2 {
                    0% {
                        margin-left: 170px;
                        opacity: 1;
                    }
                    50% {
                        margin-left: 0;
                        opacity: 0;
                    }
                    100% {
                        margin-left: 170px;
                        opacity: 1;
                    }
                }
            }
        }
        .title {
            text-transform: uppercase;
            width: 30%;
            border-radius: 4px;
            text-align: center;
            font-family: $textStyle;
            font-size: 72px;
            animation: invertedTitle 0.5s ease-in-out forwards, correctTitle 0.5s ease-in-out 4.9s forwards;
            @keyframes invertedTitle {
                0% {
                    margin-top: 50%;
                }
                100% {
                    margin-top: 0;
                }
            }
            @media screen and (min-width: 2500px) {
                font-size: 90px;
            }
            @media screen and (max-width: 800px) {
                width: auto;
                font-size: 70px;
            }
            @media screen and (max-width: 500px) {
                font-size: 50px;
            }
            @media screen and (max-width: 330px) {
                font-size: 30px;
            }
            .s {
                font-family: 'Poppins', sans-serif;
                animation: coloredS 1s ease-in-out 4.9s forwards;
                @keyframes coloredS {
                    0% {

                    }
                    100% {
                        color: $accentColor;
                    }
                }
            }
            .titleRight {
                position: absolute;
                color: $accentColor;
                font-family: $textStyle;
                animation: setDisappear 1s ease-in-out 4s forwards;
                margin-left: 8px;
                @keyframes setDisappear {
                    0% {
                        opacity: 0.5;
                    }
                    10% {
                        opacity: 1;
                    }
                    20% {
                        opacity: 0.5;
                    }
                    30% {
                        opacity: 1;
                        transform-origin: left bottom;
                        transform: rotate(60deg);
                    }
                    60% {
                        opacity: 0.5;
                        transform-origin: left bottom;
                        transform: rotate(90deg);
                    }
                    100% {
                        opacity: 0;
                        transform-origin: left bottom;
                        transform: rotate(90deg) translateX(200px);
                    }
                }
            }
        }
        .titleBack {
            text-transform: uppercase;
            position: absolute;
            font-size: 110px;
            z-index: 0;
            opacity: 1;
            color: hsla(0, 0%, 100%, .07);
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-weight: 900;
            font-family: $textStyle;
            @media screen and (max-width: 1500px) {
                font-size: 90px;
            }
            @media screen and (max-width: 1200px) {
                font-size: 70px;
            }
            @media screen and (max-width: 1000px) {
                display: none;
            }
        }
        .titleBackLight {
            color: rgba(200, 200, 200, 0.7);
            z-index: -1;
        }
    }
    .skillsContainer {
        @include flex(row, space-between, center);
        min-height: 88%;
        width: 100%;
        border-radius: 4px;
        flex-wrap: wrap;
        box-sizing: border-box;
        position: relative;
        overflow: hidden;
        animation: skillsAppear 0.6s ease-in-out forwards;
        @media screen and (max-width: 1500px) {
            flex-direction: column;
            height: 200vh;
        }
        @media screen and (max-width: 500px) {
            height: 400vh;
        }
        @keyframes skillsAppear {
            0% {
                transform: scale(0.2);
            }
            100% {
                transform: scale(1)
            }
        }
        .skillsBack {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-image: url("../images/45.jpg");
            background-size: cover;
            opacity: 0.20;
            transition: all 1s ease;
            &:hover {
                transform: scale(1.1) rotate(3deg);
            }
            @media screen and (max-width: 1500px) {
                background-position: 70% 50%;
            }
            @media screen and (max-width: 1300px) {
                background-position: 60% 50%;
            }
            @media screen and (max-width: 900px) {
                background-position: 60% 50%;
            }
            @media screen and (max-width: 700px) {
                background-position: 65% 50%;
            }
            @media screen and (max-width: 700px) {
                background-position: 57% 50%;
            }
        }
        .skillsBackLight {
            opacity: 0.4;
        }
        .skill{
            @include flex(row, center, center);
            border-radius: 4px;
            width: 11vw;
            height: 15vh;
            transition: all 1s ease-in-out;
            &:hover {
                transform: scale(1.1);
            }
            @media screen and (max-width: 1500px) {
                width: 30vw;
                height: 30vh;
            }
            @media screen and (max-width: 500px) {
                width: 50vw;
                height: 30vh;
            }
        }
        .up {
            align-self: flex-start;
        }
        .down {
            align-self: flex-end;
        }
    }
}












